build*/
temp/
install/
.vscode/
.vs/
*.kdev4
*~
CMakeSettings.json

# doxygen
docs/doxygen/*.md
docs/doxygen/xml
!docs/doxygen/index.md

# Hugo
docs/resources/
docs/public/
docs/content/Classes
docs/content/Examples
docs/content/Files
docs/content/images
docs/content/Modules
docs/content/Namespaces
docs/content/Pages
